{% extends 'base.html' %}

{% load static %}

{% block content %}


    <style>
        .game-card {
            background: white;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 20px;
            position: relative;
            display: flex;
            flex-direction: row;
            height: 200px; /* Altura fija para las tarjetas */
            transition: box-shadow 0.3s ease;
            cursor: pointer;
        }

        .game-card:hover {
            box-shadow: 0 4px 8px rgba(204, 201, 2, 0.717);
        }
        .game-image {
            width: 100%;
            height: auto;
            max-width: 120px;
            max-height: 200px;
            margin-right: 15px;
        }
        .game-details {
            flex: 1;
        }
        .game-title {
            font-size: 1.2em;
            font-weight: bold;
            margin: 10px 0;
        }
        .game-description {
            font-size: 0.9em;
            color: #666;
            display: -webkit-box;
            line-clamp: 3; /* Número de líneas */
            -webkit-box-orient: vertical;
            overflow: hidden;
            height: 3em; /* Espacio para 3 líneas */
        }
        .metascore {
            background-color: green;
            color: white;
            padding: 5px 10px;
            border-radius: 5px;
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <h1>Juegos</h1>
                
            </div>
        </div>
        <div class="row">
            {% for game in games %}
            <div class="col-md-4">
              <div class="game-card" data-game-id="{{ game.id }}">
                    {% if game.imagen %}
                    <img src="{{ game.imagen.url }}" alt="{{ game.title }}" class="game-image">
                    {% endif %}
                    <div class="game-details">
                        <div class="game-title">{{ game.nombre }}</div>
                        <div>{{ game.fecha_lanzamiento|date:"d/m/Y" }} &middot; {{ game.clasificacion }}</div>
                        <div class="game-description">{{ game.resena }}</div>
                        <div class="metascore">{{ game.puntaje_metacritic }} </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
            var gameCards = document.querySelectorAll(".game-card");
            gameCards.forEach(function(card) {
                card.addEventListener("click", function() {
                    var gameId = card.getAttribute("data-game-id");
                    window.location.href = "{% url 'game_detail' 0 %}".replace('0', gameId);
                });
            });
        });
  </script>
</body>

{% endblock %}

